
/* h1 {
    color: red !important;
}
.h1-1 {
    color: orange;
}
#h1-id {
    color: black;
} */

/* .container_2 {
    color: blue;
}
.h1_2 {
    color: orange;
} */


h1 {
    color: brown;
}

.container {
    color: red;
}
#h1_1 {
    color: red;
}
